.wrap .col-sm-6 {
    width: 50%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}


.wrap .row {
    margin-left: -15px;
    margin-right: -15px;
}

.wrap .row:after {
    content: " ";
    display: table;
    clear: both;
}

.wrap .col-sm-4 {
    width: 33.333%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.wrap .container {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    box-sizing: border-box;
}
.wrap .col-sm-12 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.wrap .col-sm-8 {
    width: 66.666%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.wrap .container div {
    box-sizing: border-box;
}

.wrap .container .flex {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.wrap label {
    font-weight: 700;
	line-height: 29px;
}

.wrap .container > .row > div > .row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.wrap input[type="text"], .wrap textarea, .wrap input[type="email"] {
    width: 100%;
	margin-bottom: 20px;
}
.wrap input[type="checkbox"] {
	margin: 7px 2px;
}
.wrap span.pagination-links input[type="text"] {
    width: auto;
    margin-bottom: auto;
}
.application-list table th, .application-list table td {
    width: calc(100% / 6);
    border: 1px solid #ccc;
}
.application-list table td:first-child {
	text-align: center;
}

.application-list table td img {
    max-width: 80px;
    height: auto;
}


table.custom {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    margin-top: 30px;
}

table.custom th, table.custom td {
    padding: 12px;
    border: 1px solid #ccc;
}

table.custom td input[type="text"] {
    width: 100%;
	padding: 3px 8px;
}
table.custom thead th {
    background-color: #e5f7ff;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}
table.custom tbody tr:nth-child(odd) {
    background-color: #fff;
}
table.custom tbody tr:nth-child(even) {
    background-color: #ebebeb;
}
/*.wrap {
	overflow: hidden;
}
*/
.default {
	background: #0085ba;
    border-color: #0073aa #006799 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
	display: inline-block;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
	box-sizing: border-box;
}
.default:hover {
	background: #008ec2;
    border-color: #006799;
    color: #fff;
}
.default:focus {
	box-shadow: 0 1px 0 #0073aa, 0 0 2px 1px #33b3db;
}
.default:active {
	background: #0073aa;
    border-color: #006799;
    box-shadow: inset 0 2px 0 #006799;
    vertical-align: top;
}
h3.toggle-head {
    background-color: #fff;
    display: block;
    border: 1px solid #ccc;
    font-size: 18px;
    padding: 17px 20px;
    cursor: pointer;
    margin-bottom: 0;
}

.home-content h3.toggle-head:focus {
    outline:  none;
}

.toggle-blocks .toggle-body .toggle-body-inner {
    border: 1px solid #ccc;
    padding: 0 20px 15px 20px;
    background-color: #ebebeb;
    border-top: none;
}
.toggle-blocks.active h3.toggle-head {
    border-bottom: none !important;
    background-color: #ebebeb !important;
	color: #0077b3 !important;
	border-color: #ccc !important;
}
.toggle-blocks.active h3.toggle-head + .toggle-body .toggle-body-inner {
	border-color: #ccc !important;
}
.toggle-blocks.active .toggle-body {
	height: auto;
}
.home-content .avatar {
    display: inline-block;
}

.home-content  button.upload-custom-img {
    vertical-align: top;
}

.home-content  .avatar img {
    height: 150px;
    width: auto;
	margin-bottom: 20px;
	margin-right: 20px;
}
.home-content .default, .facility_content .default {
    margin-top: 60px;
    margin-bottom: 20px;
}
.toggle-body {
    height: 0;
	overflow: hidden;
	transition: height 2s;
}

/*toggle*/
.col-sm-6.active-panel {
    position: absolute;
    right: 0;
    width: 50% !important;
}

.wrap .override-row .col-sm-6 {
    width: 100%;
}

.wrap .override-row .col-sm-6 > div {
    width: 50%;
}
.wrap .override-row .col-sm-6.active-panel > div , .col-sm-6.active-panel > div {
    width: 100%;
}
.for-padding {
    padding: 0 30px;
    margin-bottom: 20px;
}

.for-padding input[type="checkbox"] {
	vertical-align: middle;
	margin-right: 10px;
}
.wrap table input[type="text"], .wrap table textarea {
    margin-bottom: 0;
}
.facility_content .top-labels .col-sm-6 {
    padding: 30px 20px 10px;
}

.facility_content .top-labels > .row {
    margin-left: 0;
    margin-right: 0;
    border: 1px solid #ccc;
    background-color: #ebebeb;
}

.general-settings .blocks {
    background-color: #ebebeb;
    border: 1px solid #ccc;
    margin-bottom: 30px;
}

.general-settings .blocks h3 {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
}

.wrap.general-settings input[type="text"], .wrap.general-settings textarea, .wrap.general-settings input[type="email"] {
    width: 75%;
}
.general-settings .blocks button.upload-custom-img {
    margin: 3px 0;
    width: 120px;
}

.general-settings .blocks .avatar {
    padding: 15px 0 5px 0;
}

.general-settings .blocks .avatar img {
    margin-right: 15px;
}
.eligibility-content .blocks {
    background-color: #ebebeb;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
}
div#message-delete .delete-success {
    color: green;
}
div#message-delete .delete-error {
    color: red;
}
div#message-delete .delete-success, div#message-delete .delete-error {
    font-size: 20px;
    font-weight: 600; 
    display: block;
    position:  absolute;
    width: 100%;
}